<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>inscricaoServlet</display-name>
    <servlet-name>inscricaoServlet</servlet-name>
    <servlet-class>Control.inscricaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inscricaoServlet</servlet-name>
    <url-pattern>/inscricaoServlet</url-pattern>
  </servlet-mapping>
  <display-name>InscricaoConcurso</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListaCanditatosServlet</display-name>
    <servlet-name>ListaCanditatosServlet</servlet-name>
    <servlet-class>Control.ListaCanditatosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaCanditatosServlet</servlet-name>
    <url-pattern>/ListaCanditatosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtualizarCandidatoServlet</display-name>
    <servlet-name>AtualizarCandidatoServlet</servlet-name>
    <servlet-class>Control.AtualizarCandidatoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizarCandidatoServlet</servlet-name>
    <url-pattern>/AtualizarCandidatoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirUsuarioServlet</display-name>
    <servlet-name>ExcluirUsuarioServlet</servlet-name>
    <servlet-class>Control.ExcluirUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirUsuarioServlet</servlet-name>
    <url-pattern>/ExcluirUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtualizarServlet</display-name>
    <servlet-name>AtualizarServlet</servlet-name>
    <servlet-class>Control.AtualizarCandidatoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizarServlet</servlet-name>
    <url-pattern>/AtualizarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirCandidato</display-name>
    <servlet-name>ExcluirCandidato</servlet-name>
    <servlet-class>Control.ExcluirCandidato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirCandidato</servlet-name>
    <url-pattern>/ExcluirCandidato</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validaCpfServlet</display-name>
    <servlet-name>validaCpfServlet</servlet-name>
    <servlet-class>Control.validaCpfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validaCpfServlet</servlet-name>
    <url-pattern>/validaCpfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerificaCPFServlet</display-name>
    <servlet-name>VerificaCPFServlet</servlet-name>
    <servlet-class>Control.VerificaCPFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerificaCPFServlet</servlet-name>
    <url-pattern>/VerificaCPFServlet</url-pattern>
  </servlet-mapping>
</web-app>